*{
    font-family: sans-serif;
    color: white;
}
body{
    background: rgb(66, 191, 230);
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
}
#dialogboxhead{
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#dialogboxbody{
    width: 100%;
    height: 80px;
   
   
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 19px 0;
}
#dialogboxfoot{
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#dialogbox{
    display: flex;
    flex-direction: column;
}
.genediv{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.genediv input{
    outline: none;
    padding: 10px 15px;
    width: 300px;
    border-radius: 20px;
    border: none;
    color: teal;
}
button{
    background: linear-gradient(to right,rgb(113, 215, 223),rgb(3, 188, 212));
    width: 150px;
    padding: 10px;
    border-radius: 20px;
    border: none;
}
.container h1{
    text-transform: capitalize;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 800;
    background-clip: text;
    
}